pyvss>=2021.5.0
click==8.0.0
click-log==0.3.2
click-plugins==1.1.1
git+https://github.com/jm66/click-repl@click8
click-threading==0.4.4
tabulate==0.8.9
jsonpath-ng>=1.5.1,<2
jinja2>=2.10
dateparser==1.0.0
prompt-toolkit==2.0.8
Pygments==2.8.0
pick==1.0.0
dataclasses-json==0.5.3
validators==0.18.2
click-spinner==0.1.10
ruamel.yaml==0.16.13
