pyvss>=2021.6.0
click==8.0.1
click-log==0.3.2
click-plugins==1.1.1
click-repl==0.2.0
click-threading==0.5.0
tabulate==0.8.9
jsonpath-ng>=1.5.1,<2
jinja2>=2.10
dateparser==1.0.0
Pygments==2.9.0
pick==1.0.0
dataclasses-json==0.5.3
validators==0.18.2
click-spinner==0.1.10
ruamel.yaml==0.17.4
